{% extends "base.html.twig" %}

{% block header %}
	<header class="header-top header-home">

			{% include 'default/_menu.html.twig' %}

		<div class="overlay">
			<div class="container">
				<div class="logo-home">
					<img src="{{ asset('build/images/logo.png') }}" alt="Cooking Chef">
				</div>

				{{ render(controller('App\\Controller\\DefaultController::searchFor')) }}

				<p>Cooking chef est le site internet pour Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Veritatis fugit, quae veniam culpa nam harum sed qui, libero obcaecati enim praesentium est id
					consequatur voluptatem doloribus perspiciatis saepe ratione at!</p>
			</div>

		</div>

	</header>
{% endblock %}


{% block body %}

	<main class="container container-home">

		<h1>Découvrez nos dernières recettes Cooking Chef !</h1>
		<p>
			Parcourez nos 284 recettes...
		</p>

		<section class="row recipes">

			{% for recipe in recipes %}
				<div class="col-md-4">
					{% include 'recipe/_card.html.twig' with {'recipe': recipe} only %}
				</div>
			{% endfor %}

		</section>

	</main>

{% endblock %}

